.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(11, 163, 11);
    color: #fff;
    border: none;
    padding: 20px 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }